.settings
target
.classpath
.project
*~
*.tmproj
*.iml
.idea
.scala_dependencies
integration/bundle/
integration/felix-cache/
runner
.DS_Store
test-output
*.md.html
logs
.gradle/
build/
gradle/
gradlew
gradlew.bat
